@page "/funcionarios"
@using ApexCharts
@using Blazored.Toast.Services
@using Constants
@using DTOs
@using DTOs.Analysis
@using Microsoft.AspNetCore.Components.Authorization
@using Radzen
@using Radzen.Blazor
@using SmartBurguerValueAPI.DTOs
@using SmartBurguerValueAPI.DTOs.Analysis
@using SmartBurguerValueFront.Components.Inputs
@using SmartBurguerValueFront.Components.Sections
@using SmartBurguerValueFront.Components.buttons
@inject HttpClient Http
@inject DialogService DialogService
@inject IConfiguration Configuration
@inject CustomAuthStateProvider _auth
@inject IToastService _toast
@inject NavigationManager _nav

<PageTitle>Funcionários</PageTitle>

<div class="p-2 p-md-4">
    <h4>Lista de Funcionários</h4>
    <div class="row align-items-stretch mb-3 g-2 g-md-3">
        <div class="col-12 col-md-2 d-flex flex-column">
            <div class="mb-3">
                <select class="form-select w-100"
                        @onchange="PeriodChanged"
                        style="border: none; text-align:start;">
                    <option value="@EPeriod.LastWeek">7 dias</option>
                    <option value="@EPeriod.LastFourWeeks">30 dias</option>
                    <option value="@EPeriod.LastSemester">6 meses</option>
                    <option value="@EPeriod.LastYear">12 meses</option>
                    <option value="@EPeriod.SinceTheBeginning">Desde o início</option>
                </select>
            </div>

            @if (EmployeesAnalysis != null)
            {
                <div class="d-flex flex-column gap-2 flex-grow-1">
                    <div class="container-graphs d-flex flex-column align-items-center justify-content-center text-center w-100 p-3 flex-grow-1">
                        <img src="/img/icons/IconTicket.png" loading="lazy" alt="icone-ticket" style="width:35px;">
                        <span class="title-card-small mt-2">R$ @EmployeesAnalysis.TotalSalaries</span>
                        <p class="descritpion-card-small mb-0">Total gastos com salários</p>
                    </div>

                    <div class="container-graphs d-flex flex-column align-items-center justify-content-center text-center w-100 p-3 flex-grow-1">
                        <img src="/img/icons/IconTicket.png" loading="lazy" alt="icone-ticket" style="width:35px;">
                        <span class="title-card-small mt-2">@EmployeesAnalysis.TotalEmployeesActive</span>
                        <p class="descritpion-card-small mb-0">Total de funcionários ativos</p>
                    </div>
                </div>
            }
        </div>
       <div class="col-12 col-md-7 d-flex">
            @if (PositionDistribution != null && PositionDistribution.Any())
            {
                <div class="w-100">
                    <ApexChart TItem="GenericGraphDTO"
                               Title="Distribuição de cargos"
                               Height="400">

                        <ApexPointSeries TItem="GenericGraphDTO"
                                         Items="PositionDistribution"
                                         Name="Funcionários"
                                         XValue="@(e => e.Name)"
                                         YAggregate="@(e => e.Sum(e => e.Total))"
                                         SeriesType="SeriesType.Bar"
                                         Color="#FF6B1E" />
                    </ApexChart>
                </div>
            }

        </div>
        <div class="col-12 col-md-3 d-flex">
            <div class="d-flex flex-column gap-2 flex-grow-1">
                <div class="container-graphs d-flex flex-column align-items-center justify-content-center text-center w-100 p-3 flex-grow-1">
                    @if (WeekDaysCount != null && WeekDaysCount.Any())
                    {
                        <h5>Quantidade de dias da semana no mês</h5>
                        <RadzenDataGrid TItem="WeekDaysCountDTO" Data="@WeekDaysCount" ColumnWidth="200px"
                                        AllowPaging="true" PageSize="10" AllowSorting="true" ShowPagingSummary="true"
                                        Style="box-shadow: 0 4px 12px rgba(0,0,0,0.1); border-radius: 12px;">
                            <Columns>
                                <RadzenDataGridColumn TItem="WeekDaysCountDTO" Property="NameDay" Title="Dia da semana" />
                                <RadzenDataGridColumn TItem="WeekDaysCountDTO" Property="Quantity" Title="Quantidade" />
                            </Columns>
                        </RadzenDataGrid>
                    }
                    else
                    {
                        <SectionWarningNoData/>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 d-flex flex-row justify-content-between align-items-center gap-3 w-100">
        <InputTextFilterTabs Filter="@filterName" FilterChanged="OnFilterChanged" />
        <ButtonPrimary BackgroundColor="bg-orange" Text="Novo Funcionário" Url="/funcionarios/cad" Icon="fas fa-plus icon-inside-input" />
    </div>

    @if (isLoading)
    {
        <RadzenProgressBar Mode="ProgressBarMode.Indeterminate" Style="background-color: var(--orange)" />
    }
    else if (loadError)
    {
        <RadzenAlert Severity="AlertSeverity.Error">
            Erro ao carregar os dados da API.
        </RadzenAlert>
    }
    else
    {
        <RadzenDataGrid TItem="EmployesDTO" Data="@EmployesFilter" ColumnWidth="200px"
                        AllowPaging="true" PageSize="10" AllowSorting="true" ShowPagingSummary="true"
                        Style="box-shadow: 0 4px 12px rgba(0,0,0,0.1); border-radius: 12px;">
            <Columns>
                <RadzenDataGridColumn TItem="EmployesDTO" Property="Name" Title="Nome" />
                <RadzenDataGridColumn TItem="EmployesDTO" Property="Position" Title="Cargo" />
                <RadzenDataGridColumn TItem="EmployesDTO" Title="Tipo de Contrato">
                    <Template Context="employee">
                        @if (employee.EmploymentType.Equals("Monthly", StringComparison.OrdinalIgnoreCase))
                        {
                            <span>Mensal</span>
                        }
                        else
                        {
                            <span>Diário</span>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="EmployesDTO" Title="Salário Mensal">
                    <Template Context="employee">
                        R$ @string.Format("{0:N2}", employee.MonthlySalary)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="EmployesDTO" Title="Status">
                    <Template Context="employee">
                        @(employee.IsActive ? "Ativo" : "Inativo")
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="EmployesDTO" Title="Ações">
                    <Template Context="employee">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Style="margin-right: 5px;" Click="() => EditEmployee(employee.Id)" />
                        <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="() => RemoveEmployee(employee.Id)" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
</div>
@code {
    private List<EmployesDTO> Employes = new();
    private List<WeekDaysCountDTO> WeekDaysCount = new();
    private GetEmployeesAnalysisDTO EmployeesAnalysis = new();
    private List<GenericGraphDTO> PositionDistribution = new();
    public Guid? EnterpriseId { get; set; }
    private string filterName = "";
    private bool isLoading = true;
    private bool loadError = false;
    public Decimal? ValueDailySalary { get; set; } = 0;
    private EPeriod SelectedPeriod { get; set; } = EPeriod.LastWeek;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            EnterpriseId = await _auth.GetEnterpriseId();
            var baseUrl = Configuration["UrlApi"];
            var endpoint = $"{baseUrl}employee/get-all/by-enterprise-id?enterpriseId={EnterpriseId}";

            Employes = await Http.GetFromJsonAsync<List<EmployesDTO>>(endpoint) ?? new();
            await LoadInitialized();
            loadError = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Erro ao buscar dados da API: {ex.Message}");
            loadError = true;
        }
        finally
        {
            isLoading = false;
        }
    }

    private IEnumerable<EmployesDTO> EmployesFilter =>
        Employes.Where(p => string.IsNullOrWhiteSpace(filterName) || p.Name.Contains(filterName, StringComparison.OrdinalIgnoreCase));

    private void OnFilterChanged(string value) => filterName = value;
    private async Task PeriodChanged(ChangeEventArgs e)
    {
        if (Enum.TryParse<EPeriod>(e.Value?.ToString(), out var period))
        {
            SelectedPeriod = period;
            await LoadInitialized();
            StateHasChanged();
        }
    }
    public async Task LoadInitialized()
    {
        if (!EnterpriseId.HasValue) return;

        var analysisDto = new RequestAnalysisDTO
        {
            EnterpriseId = EnterpriseId.Value,
            Period = SelectedPeriod
        };

        var baseUrl = Configuration["UrlApi"];
        var endpointAnalysis = $"{baseUrl}analysis/employes-analysis/by-enterprise-id";
        var endpointPositionDistribution = $"{baseUrl}employee/position-distribution/by-enterprise-id?EnterpriseId={EnterpriseId}";
        var endpointDaysCount = $"{baseUrl}employee/quantity-week-days/get-all";
        try
        {
            WeekDaysCount = await Http.GetFromJsonAsync<List<WeekDaysCountDTO>>(endpointDaysCount) ?? new();
            var responseAnalysis = await Http.PostAsJsonAsync(endpointAnalysis, analysisDto);
            PositionDistribution = await Http.GetFromJsonAsync<List<GenericGraphDTO>>(endpointPositionDistribution) ?? new List<GenericGraphDTO>();
            foreach(var item in PositionDistribution)
            {
                Console.WriteLine($"Cargo: {item.Name}, Total: {item.Total}");
            }
            Console.WriteLine(PositionDistribution.Count());
            if (responseAnalysis.IsSuccessStatusCode)
            {
                EmployeesAnalysis = await responseAnalysis.Content
                    .ReadFromJsonAsync<GetEmployeesAnalysisDTO>() ?? new();
            }
            else
            {
                Console.Error.WriteLine("Erro ao buscar dados da API.");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Erro ao buscar dados da API: {ex.Message}");
        }
    }

    private void EditEmployee(Guid id)
    {
        _nav.NavigateTo($"/funcionarios/edit/{id}");
    }

    private async Task RemoveEmployee(Guid id)
    {
        var baseUrl = Configuration["UrlApi"];
        var endpoint = $"{baseUrl}employee/delete/{id}";

        var response = await Http.DeleteAsync(endpoint);

        if (response.IsSuccessStatusCode)
        {
            _toast.ShowSuccess("Funcionário deletado com sucesso!");
            Employes = Employes.Where(i => i.Id != id).ToList();
        }
        else
        {
            _toast.ShowError("Erro ao deletar funcionário.");
        }
    }
}
